* {
    margin: 0;
    text-align: center;    
}

header {
    height: 100vh;
    background-color: white;    
}

.Title{
  color: red;
  font-size: 30px;
  text-align: center;
}

.information {
    font-size: 27px;
    position: relative;
    top: 5em;
}

input {
    font-size: 1em;
    padding: 0.1em;
}

button {
    margin-top: 17px;
    padding: 17px;
    border-radius: 5%;
    font-size: 0.5em;
}

button:hover {
    cursor: pointer;
    background-color: blanchedalmond;
}
